body{
    color: black;
    background-color: #EDDABA;
    font-family: Optima, sans-serif;
}
ul{
    display:flex;
    justify-content: space-between;
    list-style-type: none ;
    align-items: center;
    padding: 16px;
}
a{
    color: #EDDABA;
    font-family: OCR A Std, monospace;
}
header img{
    width: 100px;
    height: 100px;   
}
.center{
    text-align: center;
}
.left{
    text-align: left;
}
.right{
    text-align: right;
}
footer img{
    width: 60px;
    height: 60px;  
    border-radius: 50%; 
    border: 5px solid #011C3B;;
}
footer{
    display: flex;
    justify-content: center;
}
footer a {
    margin: 20px;
    text-align: center;
    color:#011C3B;
    font-family: OCR A Std, monospace;

    
}
footer p{
    margin-top: 2px;
}
h1{
    color: #011C3B;
    text-align: center;
    font-family: Stencil Std, fantasy;
}
h2{
    color: #011C3B;
    font-family: Stencil Std, fantasy;
}
h3{
    color: #011C3B;
    text-align: left;
    font-family: Stencil Std, fantasy;
}
hr{
    color: #011C3B;
}

.flex-container {
    display: flex;
    /*isso centraliza o texto horizontalmente*/
    justify-content: center;
    /*isso centraliza o texto verticalmente*/
    align-items: center;

    height: 250px;
    color: black;
    font-size: 1.2rem;
    font-family: Optima, sans-serif;
  }
  .tudocentro{
    align-items: center;
  }
  .container-fluid{
    background-color: #011C3B;
  }
  .container{
    background-color: #EDDABA;
  }